#nav {
    background-color: rgb(151, 112, 86);
    display: flex;
    list-style: none;
}

#nav a {
    color:hwb(0 98% 0%);
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}